<div class="container">
  <br>
  <app-navbar></app-navbar>
  <br>
  <router-outlet></router-outlet>
  <!-- <app-course [courseTitle]="course.title"></app-course>
  <app-pipe-demo></app-pipe-demo>
  <app-all-binding></app-all-binding>
  <app-bootstrap-card>
    <ng-container class="heading">
      Header
    </ng-container>
    <ng-container class="body">
      <h2>Body</h2>
      <p>This is Card Body.</p>
    </ng-container>
  </app-bootstrap-card>
   <app-all-directive></app-all-directive>
  Uppercase: <input type="text" appTextFormat />
  <br>
  <br>
  <app-bootstrap-form></app-bootstrap-form> 
  <app-sign-up></app-sign-up> 
  <app-posts></app-posts> -->
</div>

